SCS_Requests/Service References/ServiceReference1/SCS_Service41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://188.39.139.92:53545/SCS_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SCSClassLibrary" />
  <xs:element name="gettotals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="keys" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="gettotalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SCSClassLibrary" minOccurs="0" name="gettotalsResult" nillable="true" type="q1:SCS_Functions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getbystock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stockref" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getbystockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SCSClassLibrary" minOccurs="0" name="getbystockResult" nillable="true" type="q2:SCS_Functions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>