SCS_Requests/Service References/ServiceReference1/TableService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.20.5:53544/TableService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TableClassLibrary" />
  <xs:element name="InsertHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TableClassLibrary" minOccurs="0" name="obj" nillable="true" type="q1:History_Object" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertHistoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getusers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getusersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TableClassLibrary" minOccurs="0" name="getusersResult" nillable="true" type="q2:TableFunctions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TableClassLibrary" minOccurs="0" name="getHistoryResult" nillable="true" type="q3:TableFunctions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TableClassLibrary" minOccurs="0" name="obj" nillable="true" type="q4:Table_Status_Object" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>