SCS_Requests/Service References/ServiceReference1/TableService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TableService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.20.5:53544/TableService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.20.5:53544/TableService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.20.5:53544/TableService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TableClassLibrary" />
      <xsd:import schemaLocation="http://192.168.20.5:53544/TableService.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITableService_InsertHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertHistory" />
  </wsdl:message>
  <wsdl:message name="ITableService_InsertHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ITableService_getusers_InputMessage">
    <wsdl:part name="parameters" element="tns:getusers" />
  </wsdl:message>
  <wsdl:message name="ITableService_getusers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getusersResponse" />
  </wsdl:message>
  <wsdl:message name="ITableService_getHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:getHistory" />
  </wsdl:message>
  <wsdl:message name="ITableService_getHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ITableService_UpdateStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatus" />
  </wsdl:message>
  <wsdl:message name="ITableService_UpdateStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="ITableService">
    <wsdl:operation name="InsertHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITableService/InsertHistory" message="tns:ITableService_InsertHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITableService/InsertHistoryResponse" message="tns:ITableService_InsertHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getusers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITableService/getusers" message="tns:ITableService_getusers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITableService/getusersResponse" message="tns:ITableService_getusers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/ITableService/getHistory" message="tns:ITableService_getHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITableService/getHistoryResponse" message="tns:ITableService_getHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITableService/UpdateStatus" message="tns:ITableService_UpdateStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITableService/UpdateStatusResponse" message="tns:ITableService_UpdateStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITableService" type="tns:ITableService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertHistory">
      <soap:operation soapAction="http://tempuri.org/ITableService/InsertHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getusers">
      <soap:operation soapAction="http://tempuri.org/ITableService/getusers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHistory">
      <soap:operation soapAction="http://tempuri.org/ITableService/getHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <soap:operation soapAction="http://tempuri.org/ITableService/UpdateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TableService">
    <wsdl:port name="BasicHttpBinding_ITableService" binding="tns:BasicHttpBinding_ITableService">
      <soap:address location="http://192.168.20.5:53544/TableService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>